

.font- {
  &xxs {
    font-size: 0.125rem;
  }
  &xs {
    font-size: 0.25rem;
  }
  &sm {
    font-size: 0.5rem;
  }
  &md {
    font-size: 0.75rem;
  }
  &lg {
    font-size: 1rem;
  }
  &lgr {
    font-size: 1.25rem;
  }
  &lgst {
    font-size: 1.5rem;
  }
  &xl-less {
    font-size: 1.75rem;
  }
  &xl {
    font-size: 2rem;
  }
  &xlr {
    font-size: 2.25rem;
  }
  &xxl {
    font-size: 3rem;
  }
  &xxlr {
    font-size: 3.5rem;
  }
  @for $i from 1 through 20 {
    &#{$i}rem {
      font-size: $i + rem;
    }
  }
}

.font-weight- {
  &100 { font-weight: 100;}
  &200 { font-weight: 200;}
  &300 { font-weight: 300;}
  &400 { font-weight: 400;}
  &500 { font-weight: 500;}
  &600 { font-weight: 600;}
  &700 { font-weight: 700;}
  &800 { font-weight: 800;}
}

.text- {
  &white { color: $white; }
  &red { color: $red; }
  &green { color: $green; }
  &blue { color: $blue; }
  &primary { color: $primaryColor; }
  &primary-alternate { color: $primaryColorAlternate; }
}
.f-text-{
  &white { color: $white !important; }
  &red { color: $red !important; }
  &green { color: $green !important; }
  &blue { color: $blue !important; }
}

.text-align- {
  &left {
    text-align: left;
  }
  &right {
    text-align: right;
  }
  &center {
    text-align: center;
  }
}

.vertical-align- {
  &bottom {
    vertical-align: bottom;
  }
  &middle {
    vertical-align: middle;
  }
  &top {
    vertical-align: top;
  }
  &baseline {
    vertical-align: baseline;
  }
}


// https://css-tricks.com/almanac/properties/t/text-shadow/
@mixin textShadowDefault() {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  // text-shadow: 1px 1px 1px rgba(167, 165, 165, 0.65);
  // text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.85);
  // text-shadow: 2px 2px 3px rgba(255,255,255,0.35);
}
@mixin textShadowLong() {
  text-shadow:
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.text-shadow- {
  &none {
    text-shadow: none;
  }
  &default {
    @include textShadowDefault();
  }
  &long {
    @include textShadowLong();
  }
}

.text-shadow {
}

.font-special {
  // font-family: 'Playfair Display SC', serif;
  // font-family: 'Quattrocento', serif;
  // font-family: 'Ultra', serif;
  // font-family: 'Alegreya SC', serif;
  // font-family: 'Cinzel Decorative', cursive;
  // font-family: 'Merriweather', serif;
  // font-family: 'Rouge Script', cursive;
  // font-family: 'Oleo Script Swash Caps', cursive;
  font-family: 'Sofia', cursive;

}