

.flex {
  display: flex !important;
  &.align-items {
    &-center {
      align-items: center
    }
    &-start {
      align-items: start
    }
    &-end {
      align-items: end
    }
  }
  &.justify-content {
    &-center {
      justify-content: center
    }
    &-start {
      justify-content: start
    }
    &-end {
      justify-content: end
    }
  }
}


