

.font- {
  &xxs {
    font-size: 0.125rem;
  }
  &xs {
    font-size: 0.25rem;
  }
  &sm {
    font-size: 0.5rem;
  }
  &md {
    font-size: 0.75rem;
  }
  &lg {
    font-size: 1rem;
  }
  &lgr {
    font-size: 1.25rem;
  }
  &xl {
    font-size: 2rem;
  }
  &xlr {
    font-size: 2.25rem;
  }
  &xxl {
    font-size: 3rem;
  }
  &xxlr {
    font-size: 3.5rem;
  }
}

.text-align- {
  &left {
    text-align: left;
  }
  &right {
    text-align: right;
  }
  &center {
    text-align: center;
  }
}


// https://css-tricks.com/almanac/properties/t/text-shadow/
@mixin textShadowDefault() {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  // text-shadow: 1px 1px 1px rgba(167, 165, 165, 0.65);
  // text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
  // text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.85);
  // text-shadow: 2px 2px 3px rgba(255,255,255,0.35);
}
@mixin textShadowLong() {
  text-shadow:
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.text-shadow- {
  &default {
    @include textShadowDefault();
  }
  &long {
    @include textShadowLong();
  }
}

.text-shadow {
}