@import './style/display';
@import './style/margin';
@import './style/padding';
@import './style/border';
@import './style/color';
@import './style/typography';
@import './style/mattscss/style.css'; // < ---MATT ADDED
// @import './style/fonts'; //Loaded through the /style/scripts/customFontLoader.js script
@import './style/scrollbar';
@import './style/modifiers/image';
@import './style/modifiers/banner';
@import './style/modifiers/other';

body {
  background-color: rgb(252, 245, 245);
  color: $black;
  // font-family: 'ss-pika', monospace;
  font-family: 'Titillium Web', sans-serif;
  @include textShadowDefault();
}